In [20]:
import re
import pandas as pd
import spacy
from textblob import TextBlob

In [21]:
spacy.cli.download("en_core_web_sm")

✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')
⚠ Restart to reload dependencies
If you are in a Jupyter or Colab notebook, you may need to restart Python in
order to load all the package's dependencies. You can do this by selecting the
'Restart kernel' or 'Restart runtime' option.

In [22]:
nlp = spacy.load("en_core_web_sm")

In [23]:
df = pd.read_csv("data/Restaurant_Reviews.tsv", sep="\t")
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [24]:
print(df.head())

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [25]:
clean_df = df.dropna(subset=['Review'])
reviews_df = clean_df['Review']
print(reviews_df.shape)

(1000,)

In [28]:
# Function to perform sentiment analysis using TextBlob
def get_sentiment(texts):
    blob = TextBlob(texts)
    sentiment_score = blob.sentiment.polarity
    if sentiment_score > 0:
        return 'Positive'
    elif sentiment_score < 0:
        return 'Negative'
    else:
        return 'Neutral'

# Apply sentiment analysis to each review
clean_df['Sentiment'] = clean_df['Review'].apply(get_sentiment)

# Display the results
clean_df

                                                Review  Liked Sentiment
0                             Wow... Loved this place.      1  Positive
1                                   Crust is not good.      0  Negative
2            Not tasty and the texture was just nasty.      0  Negative
3    Stopped by during the late May bank holiday of...      1  Positive
4    The selection on the menu was great and so wer...      1  Positive
..                                                 ...    ...       ...
995  I think food should have flavor and texture an...      0   Neutral
996                           Appetite instantly gone.      0   Neutral
997  Overall I was not impressed and would not go b...      0  Negative
998  The whole experience was underwhelming, and I ...      0  Positive
999  Then, as if I hadn't wasted enough of my life ...      0  Negative

[1000 rows x 3 columns]